@import './utils/colors.scss';
@import './utils/common.scss';

.appContainer{
    height: 100%;
}

.homePageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $darkColor;
    height: 100%;

    header{
        height: 150px;
        width: 100%;
        font-size: 40px;
        color: white;
        background: $accentColor;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    section{
        margin-top: 16px;
        display: grid;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-columns: 350px auto;
        grid-template-rows: repeat(6, 1fr);
        width: 600px;
        height: 600px;
    }
}
.playerNameContainer{
    background-color: $lightColor;
    grid-row: 1;
    grid-column: 2;
    border-radius: $primaryBorderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    input{
        width: 100%;
        margin: 0 8px 0 8px;
        font-size: 16px;
    }

    span{
        font-size: 18px;
    }
}

.currentRoomContainer{
    border-radius: $primaryBorderRadius;
    background-color: $lightColor;
    grid-row: 2/5;
    grid-column: 2;
    display: flex;
    flex-direction: column;

    h3{
        margin: 8px 0 0 0;
        width: 100%;
        text-align: center;
    }
    p{
        margin: 8px 8px 0 8px;
    }

    ul{
        margin: 0;
        padding: 4px 8px 0 8px;
        list-style: none;
        flex: 1 0 auto;
        li{
            padding: 4px;
        }
    }
    .startGameButtonContainer{
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        button{
            width: 100%;
            background-color: $accentColor;
            color: white;
            border-radius: 28px;
            border-style: none;
            font-size: 16px;
            padding: 4px;
            cursor: pointer;
        }
        button:hover{
            background-color: scale-color($color: $accentColor, $lightness: +10%);
        }
    }
}


