@import './utils/colors.scss';
@import './utils/common.scss';

.roomsContainer{
    background-color: $primaryColor;
    grid-row: 1 / 5;
    grid-column: 1;
    border-radius: $primaryBorderRadius;
    position: relative;
    display: flex;
    flex-direction: column;

    .roomsTitleWrapper{
        display: flex;
        width: 100%;
        height: 48px;
        justify-content: center;
        align-items: center;
        padding-top: 4px;
        span{
            font-weight: bold;
            font-size: 24px;
        }
    }
    
    .roomForm{
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 0 0 $primaryBorderRadius $primaryBorderRadius;
    
        label{
            display: inline-block;
            width: 67%;
            input{
                @extend .baseTextInput;
                font-size: 16px;
                width: 100%;
            }
        }
        input[type=submit]{
            @extend .baseButton;
            width: 25%;
        }
    }
    
    .itemRoom{
        cursor: pointer;
    }
    
    .itemRoom.clicked{
        background-color: $accentColor;
        color: rgb(121, 61, 61);
    }
    

    ul{
        //background-color: rgba($darkColor, .5);
        flex: 1 1 auto;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        @include bottomLine();
        li{
            padding: 4px 16px 4px 16px;
            list-style: none;
            @include bottomLine(1px);
        }
    
    }
}

